fantasy-terminal {
  align-items: center;
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  
  max-height: 100vh;

  pre {
    font-family: monospace;
    white-space: pre;

    span.current{
      text-decoration:underline;
    }
  }

  canvas {
    cursor: none;
    touch-action: none;
    /*image-rendering: -moz-crisp-edges !important;
    image-rendering: -webkit-crisp-edges !important;
    //image-rendering: crisp-edges !important;
    image-rendering: -moz-pixelated !important;
    image-rendering: -webkit-pixelated !important;
    //image-rendering: pixelated !important;
    vertical-align: middle !important;*/

    min-width: none !important;
    max-width: none !important;
    min-height: none !important;
    max-height: none !important;
  }

  .input {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    
    .text {
      position: absolute !important;
      right: 100vw !important;
      bottom: 100vh !important;
      //width: 100% !important;
      textarea, input {
        position: static !important;
        //width: 100% !important;
      }
    }
  }
}