include _layout
  canvas(width=80, height=60)
  article.page
    include:markdown-it ../README.md
    // p: a(href="//github.com/codeartisticninja/"+pkg.name) Source on Github
  script(type="text/javascript", src="script/web-sys.js")
  script(type="text/javascript", src="script/main.js")

